
.Login #content{
    border: 1px solid #fff;
    margin:10px;
    margin-left: 8px;
    padding:5px;
}
.Login #content #input-group{
    border:none;
    outline:none;
    background: transparent;
    margin-left:8px;
    width:300px;
    color:#fff;
}
::placeholder{
    color:#fff;
}
.Login .fa{
    display:inline-block;
    color:red;
    border-right:1px solid #fff;
    padding:8px;
    margin-left: 8px;
}
.Login #second-group{
    border:none;
    width:400px;
    margin-top: 55px;
    margin-left:400px;
}
.Register #submit-btn{
    margin-top: 30px;
    margin-left: 600px;
    background: transparent;
    color:#fff;
    width:150px;
    border:1px solid red;
    outline:none;
    padding:05px;
    font-size: 20px;
    margin-bottom: 20px;
}